.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-radius: 20px; */
    padding: 60px;
    padding-top: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container4 {
    max-width: 1200px;
    margin: 0 auto;
    height: 70px;
}

/* 헤더 */
.post-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.post-header h1 {
    font-size: 20px;
}

.form-title{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.form-title-title{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* 섹션 스타일 */
.section{
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
   
}

.section label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* 입력 필드 스타일 */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

textarea {
    resize: none;
}

/* 이미지 업로드 컨테이너 */
.image-upload-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.image-preview-container {
    display: flex;
    gap: 20px;
    align-items: center;
    border-right: 1px solid #ddd;
    padding-right: 150px;
}

.image-preview {
    width: 200px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.image-upload-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.image-upload-buttons button {
    padding: 8px 16px;
    font-size: 14px;
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.image-upload-buttons button:hover {
    background-color: #007bff;
    color: #fff;
} 


/* 이미지 요구사항 */
.image-requirements {
    font-size: 20px;
    color: #666; 
    padding-right: 100px;   
}

/* 글 올리기 버튼 */
#submitPost {
    width: 150px;
    padding: 12px 0;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    right: 0;
}

#submitPost:hover {
    background-color: #0056b3;
}

.section-button{
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row-reverse
}