<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세 게시글 조회</title>
    <link rel="stylesheet" href="../../../resources/static/css/community/communityViewPost.css">
    <link rel="stylesheet" href="../../../resources/static/css/headerstyle.css">
    <script src="../../../resources/static/js/community/communityViewPost.js"></script>
</head>

<body>
    <header>

    <div class="desktop-horizontal-logo-left-not-logged-menu-bottom-search-icons-right">
        <div class="top">
            <div class="logo">

                <!-- 메인 이동 -->
                <a href="/index">
                    <div class="text">
                        <div class="webby-frames">REAPLETTE</div>
                        <div class="for-figma"></div>
                    </div>
                </a>
            </div>

            <!-- 검색창 -->
            <form class="field" action="/search/total">
                <div>

                    <input class="text2" placeholder="검색어를 입력하세요 . . .">
                    <img class="icon-jam-icons-outline-logos-search"
                         src="../../../resources/static/images/icon-jam-icons-outline-logos-search0.svg" />
                </div>
            </form>


            <!-- 커뮤니티 버튼 -->
            <a href="/community/main">
                <div class="buttons-group">
                    <img class="icon-heroicons-outline-user-group"
                         src="../../../resources/static/images/icon-heroicons-outline-user-group0.svg" />
                </div>
            </a>

            <!-- 알람버튼 -->
            <a href="/notification/list">
                <div class="button">
                    <img class="icon-jam-icons-outline-logos-bell"
                         src="../../../resources/static/images/icon-jam-icons-outline-logos-bell0.svg" />
                </div>
            </a>

            <!-- 유저프로필 -->
            <a href="/myPage/info">
                <div class="user-thumb">
                    <img class="icon-jam-icons-outline-logos-user"
                         src="../../../resources/static/images/icon-jam-icons-outline-logos-user0.svg" />
                </div>

            </a>


            <!-- 로그인/회원가입버튼 -->
            <a href="/login.jsp">
                <div class="button2">

                    <div class="text-container">
                        <div class="button-text">시작하기</div>
                    </div>

                </div>
            </a>


        </div>
    </div>

    <div class="menu">

        <div class="left">

            <a href="/rec/recBooks">
                <div class="menu-item">
                    <div class="menu-item2">도서 추천</div>
                </div>
            </a>


            <a href="/myPage/info">
                <div class="menu-item">
                    <div class="menu-item2">마이 컨텐츠</div>
                </div>
            </a>

            <a href="/community/main">
                <div class="menu-item">
                    <div class="menu-item2">커뮤니티</div>
                </div>
            </a>

        </div>
    </div>
    </div>

</header>

    <div class="container4">
    </div>

    <div class="container">
        <!-- 게시글 헤더 -->
        <div class="post-header">
            <h1>이 책 완전 대박 ㅠㅠ</h1>
            <div class="buttons">
                <button class="delete" onclick="openDeleteModal(${post.id})">삭제</button>
                <button class="edit">수정</button>
            </div>
        </div>
        <!-- 게시글 메타 정보 -->
        <div class="post-meta">
            <div> 커뮤니티 | 2024/11/15 | 건조한물 </div>
            <div> 조회수 1,000 | 댓글 3 | 좋아요 99 </div>
        </div>
        <!-- 게시글 본문 -->
        <div class="post-content">
            <div class="img-container">
                <img src="path_to_image.jpg">
            </div>
            <div class="horizontal-line"></div>
            <div>
                <p>지난주에 우연히 어쩌구 저쩌구 ~~~</p>
            </div>
        </div>
        <!-- 좋아요 버튼 -->
        <div class="like-section">
            <button class="unliked">&#9825;</button> <!-- 빈 하트 -->
            <button class="liked">&#9829;</button> <!-- 눌린 하트 -->
        </div>

        <!-- 댓글 섹션 -->
        <!-- 댓글 섹션 -->
        <div class="comments-section">
            <!-- 댓글 입력 -->
            <form action="/community/viewPost/commentWrite" method="post">
                <input type="hidden" name="postId" value="${post.id}">
                <div class="comment-input">
                    <!-- 로그인한 사용자의 아이디 출력 -->
                    <div class="comment-input-text">
                        <div class="user-id">
                            ${user.username}
                        </div>
                        <!-- 댓글 입력창 -->
                        <input type="text" name="commentContent" placeholder="댓글을 남겨보세요." required>
                    </div>
                    <!-- 전송 버튼 -->
                    <button type="submit">
                        <img src="../../../resources/images/community/Send.svg" alt="댓글 전송">
                    </button>
                </div>
            </form>


            <!-- 댓글 목록 -->
            <div class="comments-list">
                <c:forEach var="comment" items="${comments}">
                    <div class="comment">
                        <div class="comment-info">
                            <span class="comment-author">${comment.author}</span>
                            <span class="comment-date">${comment.date}</span>
                        </div>
                        <div class="comment-content">
                            <p>${comment.content}</p>
                        </div>
                        <div class="comment-actions">
                            <!-- 삭제 버튼 -->
                            <c:if test="${comment.isAuthor}">
                                <form action="/community/viewPost/commentDelete" method="post" style="display:inline;">
                                    <input type="hidden" name="commentId" value="${comment.id}">
                                    <input type="hidden" name="postId" value="${post.id}">
                                    <button type="submit" class="delete-button">
                                        <img src="../../../resources/images/community/Trash.svg" alt="댓글 삭제">
                                    </button>
                                </form>
                            </c:if>
                            
                            <!-- 좋아요 버튼 -->
                            <form action="/community/viewPost/commentLike" method="post" style="display:inline;">
                                <input type="hidden" name="commentId" value="${comment.id}">
                                <button type="submit" class="like-button">
                                    <img src="../../../resources/images/community/ThumbUp.svg" alt="댓글 좋아요">
                                    <span>${comment.likes}</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </c:forEach>
            </div>
        </div>

        <div class="comments-section-more">
            <!-- 더보기 버튼 -->
            <c:if test="${hasMoreComments}">
                <form action="/community/viewPost" method="get">
                    <input type="hidden" name="postId" value="${post.id}">
                    <input type="hidden" name="page" value="${currentPage + 1}">
                    <div class="load-more">
                        <button type="submit">
                            <img src="/path/to/load-more-icon.png" alt="댓글 더보기">
                        </button>
                    </div>
                </form>
            </c:if>
        </div>
    </div>

    <div class="container4">
    </div>

    <!-- 삭제 모달 -->
    <div id="deleteModal" class="modal" style="display: none;">
        <div class="modal-content">
            <p>정말 삭제하시겠습니까?</p>
            <div class="modal-buttons">
                <button id="confirmDelete" onclick="confirmDeletePost(${post.id})" class="button">예</button>
                <button id="cancelDelete" onclick="closeDeleteModal()" class="button">아니오</button>
            </div>
        </div>
    </div>

</body>

</html>