.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: var(--coolgray-10, #f2f4f8);
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  position: relative;

}
.icon-heroicons-outline-lock-open {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}
.icon-heroicons-outline-user {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}
.table {
  background: var(--default-white, #ffffff);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 0.0625rem;
  padding: 1.5rem 0rem 1.25rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  margin: 1.5rem;
  width: 82%;
  height: 46.78rem;
}
.header {

  padding: 0rem 1.875rem 0rem 1.875rem;
  display: flex;
  flex-direction: row;
  gap: var(--space-space-24, 1.5rem);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: fit-content;
  position: relative;
}
.auto-layout-vertical {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.div22 {
  color: var(--color-secondary-100, #283747);
  text-align: left;
  position: relative;
  align-self: stretch;

}
.div-22-span {
  color: var(--color-secondary-100, #283747);
  font-family: var(
    --heading-40-medium-font-family,
    "PlusJakartaSans-Bold",
    sans-serif
  );
  font-size: var(--heading-40-medium-font-size, 2.5rem);
  line-height: var(--heading-40-medium-line-height, 3.5rem);
  font-weight: var(--heading-40-medium-font-weight, 700);
}
.div-22-span2 {
  color: var(--color-secondary-100, #283747);
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 500;
}
.auto-layout-horizontal {
  padding: 1.875rem 3.125rem 1.875rem 3.125rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-space-40, 2.5rem);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2 {
  width: 75rem;
  flex-direction: column; /* 세로 방향 배치 */
  align-items: center; /* 자식 요소를 가로 중앙에 정렬 */
  justify-content: center; /* 세로 방향에서 중앙 정렬 */
  flex-shrink: 0;
  height: fit-content;
  position: relative;
}

.auto-layout-vertical2 {
  border: 1px black solid;
  padding: 0.625rem 1.5rem 0.625rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-space-16, 1rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: fit-content;
  position: relative;
}
.div3 {
  color: var(--color-secondary-100, #283747);
  text-align: left;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-3-span {
  color: var(--color-secondary-100, #283747);
  font-family: var(
    --heading-20-medium-font-family,
    "PlusJakartaSans-Bold",
    sans-serif
  );
  font-size: var(--heading-20-medium-font-size, 1.25rem);
  line-height: var(--heading-20-medium-line-height, 1.875rem);
  font-weight: var(--heading-20-medium-font-weight, 700);
}
.div-3-span2 {
  color: var(--color-secondary-100, #283747);
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
}
.div4 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 4.8125rem;
  height: 0.625rem;
  position: relative;
}
.book-card-view2 {
  background: var(--color-main-100, #ffffff);
  border-radius: var(--space-space-4, 0.25rem);
  border-style: solid;
  border-color: var(--color-main-80, #e7e8eb);
  border-width: 0.0625rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 15.4375rem;
  height: 23.625rem;
  position: relative;
  overflow: hidden;
}


.div5 {
  color: var(--color-secondary-100, #283747);
  text-align: left;
  position: relative;
  align-self: stretch;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-5-span {
  color: var(--color-secondary-100, #283747);
  font-family: var(
    --heading-20-medium-font-family,
    "PlusJakartaSans-Bold",
    sans-serif
  );
  font-size: var(--heading-20-medium-font-size, 1.25rem);
  line-height: var(--heading-20-medium-line-height, 1.875rem);
  font-weight: var(--heading-20-medium-font-weight, 700);
}
.div-5-span2 {
  color: var(--color-secondary-100, #283747);
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
}

.div-5-span3 {
  color: var(--color-secondary-100, #283747);
  font-family: var(
    --heading-20-medium-font-family,
    "PlusJakartaSans-Bold",
    sans-serif
  );
  font-size: var(--heading-20-medium-font-size, 1.25rem);
  line-height: var(--heading-20-medium-line-height, 1.875rem);
  font-weight: var(--heading-20-medium-font-weight, 700);
}
.div-5-span4 {
  color: var(--color-secondary-100, #283747);
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
}
.div7 {
  background: #7476ff;
  flex-shrink: 0;
  width: 8.1875rem;
  height: 0.625rem;
  position: relative;
}

.auto-layout-horizontal4 {
  border: red 1px solid;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: var(--space-space-40, 5rem);
  align-items: center;
  justify-content: start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow-x: scroll; /* 항상 가로 스크롤바 표시 */
}


.auto-layout-horizontal5 {
  margin: -8.1875rem 0 0 0;
  padding: 0rem 3.125rem 0rem 3.125rem;
  display: flex;
  flex-direction: row;
  gap: var(--space-space-40, 2.5rem);
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 61.75rem;
  position: relative;
}
.div-3-span3 {
  color: var(--color-secondary-100, #283747);
  font-family: var(
    --heading-20-medium-font-family,
    "PlusJakartaSans-Bold",
    sans-serif
  );
  font-size: var(--heading-20-medium-font-size, 1.25rem);
  line-height: var(--heading-20-medium-line-height, 1.875rem);
  font-weight: var(--heading-20-medium-font-weight, 700);
}
.div-3-span4 {
  color: var(--color-secondary-100, #283747);
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
}
.div-5-span5 {
  color: var(--color-secondary-100, #283747);
  font-family: var(
    --heading-20-medium-font-family,
    "PlusJakartaSans-Bold",
    sans-serif
  );
  font-size: var(--heading-20-medium-font-size, 1.25rem);
  line-height: var(--heading-20-medium-line-height, 1.875rem);
  font-weight: var(--heading-20-medium-font-weight, 700);
}
.div-5-span6 {
  color: var(--color-secondary-100, #283747);
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
}
.div-5-span7 {
  color: var(--color-secondary-100, #283747);
  font-family: var(
    --heading-20-medium-font-family,
    "PlusJakartaSans-Bold",
    sans-serif
  );
  font-size: var(--heading-20-medium-font-size, 1.25rem);
  line-height: var(--heading-20-medium-line-height, 1.875rem);
  font-weight: var(--heading-20-medium-font-weight, 700);
}
.div-5-span8 {
  color: var(--color-secondary-100, #283747);
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
}





.book-card-view {
  border: black 1px solid;
  background: var(--color-main-100, #ffffff);
  border-radius: var(--space-space-4, 0.25rem);
  border-style: solid;
  border-color: var(--color-main-80, #e7e8eb);
  border-width: 0.0625rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 15rem;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.style-square {
  background: var(--color-main-80, #e7e8eb);
  border-radius: var(--space-space-4, 0.25rem);
  align-self: stretch;
  flex-shrink: 0;
  height: 20rem;
  position: relative;
  overflow: hidden;
}
.auto-layout-vertical3 {

  padding: 0.625rem 1.5rem 0.625rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-space-16, 1rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: fit-content;
  position: relative;
}
.div6 {
  color: var(--color-secondary-100, #283747);
  text-align: left;
  height: fit-content;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-6-span {
  color: var(--color-secondary-100, #283747);
  font-family: var(
    --heading-20-medium-font-family,
    "PlusJakartaSans-Bold",
    sans-serif
  );
  font-size: var(--heading-20-medium-font-size, 1.25rem);
  line-height: var(--heading-20-medium-line-height, 1.875rem);
  font-weight: var(--heading-20-medium-font-weight, 700);
}
.div-6-span2 {
  color: var(--color-secondary-100, #283747);
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
}
.div7 {
  flex-shrink: 0;
  width: 100%; /* 진행률을 반영하려면 동적으로 조정 가능 */
  height: 0.625rem;
  position: relative;
}