@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular', sans-serif;
}

div {
    border: 0.5px red solid;
}

/* 헤더 높이 설정 */
header {
    height: 100px; /* 적당한 높이 (80px) */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */

    border-bottom: 1px solid #dee2e6; /* 하단 경계선 */
  }

  #logo {
    font-weight: 800;
  }