<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="../../../../resources/css/myPage/bookmarkBooksstyle.css">
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>리플렛 - 찜 도서</title>
</head>
<body>
  
  <div class="div">
    <!-- 아이콘 섹션 -->
    <div class="icon-heroicons-outline-lock-open"></div>
    <div class="icon-heroicons-outline-user"></div>
    
    <!-- 카드뷰 컨테이너 -->
    <div class="table">
      <!-- 헤더 섹션 -->
      <div class="header">
        <div class="auto-layout-vertical">
          <div class="div2">
            <span>
              <span class="div-2-span">
                찜 도서
                <br />
              </span>
              <span class="div-2-span2">
                내가 찜한 도서를 확인할 수 있어요 !
                <br />
                나의 개인 맞춤 추천에 반영됩니다 !
              </span>
            </span>
          </div>
        </div>
      </div>

      <!-- 첫 번째 카드뷰 행 -->
      <div class="auto-layout-horizontal">
        <div class="frame-2">
          <div class="auto-layout-horizontal2">
            <div class="auto-layout-horizontal3">
              <div class="auto-layout-horizontal4">

                <!-- 첫 번째 카드 -->
                <a href="#">
                  <div class="book-card-view">
                    <div class="style-square"></div>
                    <div class="auto-layout-vertical2">
                      <div class="div3">
                        <span>
                          <span class="div-3-span">
                            도서 명
                            <br />
                          </span>
                          <span class="div-3-span2">저자 명</span>
                        </span>
                      </div>
                      
                    </div>
                  </div>
                </a>

                <!-- 두 번째 카드 (주석 처리) -->
                <!--
                <div class="book-card-view2">
                  <div class="style-square"></div>
                  <div class="auto-layout-vertical3">
                    <div class="div5">
                      <span>
                        <span class="div-5-span">
                          도서 명
                          <br />
                        </span>
                        <span class="div-5-span2">저자 명</span>
                      </span>
                    </div>
                    <div class="div6"></div>
                  </div>
                </div>
                -->

                <!-- 세 번째 카드 (주석 처리) -->
                <!--
                <div class="book-card-view2">
                  <div class="style-square"></div>
                  <div class="auto-layout-vertical3">
                    <div class="div5">
                      <span>
                        <span class="div-5-span3">
                          도서 명
                          <br />
                        </span>
                        <span class="div-5-span4">저자 명</span>
                      </span>
                    </div>
                    <div class="div7"></div>
                  </div>
                </div>
                -->

              </div>
            </div>
          </div>

          <!-- 두 번째 카드뷰 행 -->
          <div class="auto-layout-horizontal5">
            <div class="auto-layout-horizontal4">

              <!-- 네 번째 카드 -->
              <a href="#">
                <div class="book-card-view">
                  <div class="style-square"></div>
                  <div class="auto-layout-vertical2">
                    <div class="div3">
                      <span>
                        <span class="div-3-span3">
                          도서 명
                          <br />
                        </span>
                        <span class="div-3-span4">저자 명</span>
                      </span>
                    </div>
                    
                    
                  </div>
                </div>
              </a>

              <!-- 다섯 번째 카드 (주석 처리) -->
              <!--
              <div class="book-card-view2">
                <div class="style-square"></div>
                <div class="auto-layout-vertical3">
                  <div class="div5">
                    <span>
                      <span class="div-5-span5">
                        도서 명
                        <br />
                      </span>
                      <span class="div-5-span6">저자 명</span>
                    </span>
                  </div>
                  <div class="div6"></div>
                </div>
              </div>
              -->

              <!-- 여섯 번째 카드 (주석 처리) -->
              <!--
              <div class="book-card-view2">
                <div class="style-square"></div>
                <div class="auto-layout-vertical3">
                  <div class="div5">
                    <span>
                      <span class="div-5-span7">
                        도서 명
                        <br />
                      </span>
                      <span class="div-5-span8">저자 명</span>
                    </span>
                  </div>
                  <div class="div7"></div>
                </div>
              </div>
              -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
