<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="../../../resources/css/myPage/myGolasListstyle.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>레플렛 - 내 목표</title>
</head>
<body>
  <div class="div">
    <div class="icon-heroicons-outline-lock-open"></div>
    
    <div class="page-content">
      <div class="table">
        <div class="header">
          <div class="auto-layout-vertical">
            <div class="div4">
              <span>
                <span class="div-4-span">
                  캘린더
                  <br />
                </span>
                <span class="div-4-span2">
                  목표를 설정하면 캘린더에 일정이 등록됩니다 !
                </span>
              </span>
            </div>
          </div>
        </div>

        <!-- 달력 -->
        <div class="table2">
          <img class="image-59" src="../../../resources/images/myPage/image-590.png" />
        </div>
      </div>
      
      <div class="table3">
        <div class="header2">
          <div class="auto-layout-vertical2">
            <div class="div5">
              <span>
                <span class="div-5-span">
                  목표 도서
                  <br />
                </span>
                <span class="div-5-span2">
                  목표를 설정하고 독서 습관을 길러보아요 !
                </span>
              </span>
            </div>
          </div>
          
          <a href="/myPage/myGoalsAddBooks">
            <div class="type-primary-size-large-status-enable">
              <div class="button">도서 추가</div>
            </div>
          </a>

        </div>
        <div class="auto-layout-horizontal">
          <div class="frame-2">
            <div class="auto-layout-horizontal2">
              <div class="auto-layout-horizontal3">
                <div class="auto-layout-horizontal4">

                  <a href="">
                    <div class="book-card-view">
                      <div class="style-square"></div>
                      <div class="auto-layout-vertical3">
                        <div class="div6">
                          <span>
                            <span class="div-6-span">
                              도서 명
                              <br />
                            </span>
                            <span class="div-6-span2">저자 명</span>
                          </span>
                        </div>
                        <div class="div7"></div>
                      </div>
                    </div>
                  </a>

                  <div class="book-card-view2">
                    <div class="style-square"></div>
                    <div class="auto-layout-vertical4">
                      <div class="div8">
                        <span>
                          <span class="div-8-span">
                            도서 명
                            <br />
                          </span>
                          <span class="div-8-span2">저자 명</span>
                        </span>
                      </div>
                      <div class="div9"></div>
                    </div>
                  </div>

                  <div class="book-card-view2">
                    <div class="style-square"></div>
                    <div class="auto-layout-vertical4">
                      <div class="div8">
                        <span>
                          <span class="div-8-span3">
                            도서 명
                            <br />
                          </span>
                          <span class="div-8-span4">저자 명</span>
                        </span>
                      </div>
                      <div class="div10"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="auto-layout-horizontal5">
              <div class="auto-layout-horizontal4">

                <div class="book-card-view">
                  <div class="style-square"></div>
                  <div class="auto-layout-vertical3">
                    <div class="div6">
                      <span>
                        <span class="div-6-span3">
                          도서 명
                          <br />
                        </span>
                        <span class="div-6-span4">저자 명</span>
                      </span>
                    </div>
                    <div class="div7"></div>
                  </div>
                </div>

                <div class="book-card-view2">
                  <div class="style-square"></div>
                  <div class="auto-layout-vertical4">
                    <div class="div8">
                      <span>
                        <span class="div-8-span5">
                          도서 명
                          <br />
                        </span>
                        <span class="div-8-span6">저자 명</span>
                      </span>
                    </div>
                    <div class="div9"></div>
                  </div>
                </div>

                <div class="book-card-view2">
                  <div class="style-square"></div>
                  <div class="auto-layout-vertical4">
                    <div class="div8">
                      <span>
                        <span class="div-8-span7">
                          도서 명
                          <br />
                        </span>
                        <span class="div-8-span8">저자 명</span>
                      </span>
                    </div>
                    <div class="div10"></div>
                  </div>
                </div>
              </div>

            </div>

            

          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</body>
</html>