<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="../../../../resources/css/myPage/myGoalsAddBooksModal.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>리플렛 - 목표 도서 검색</title>
</head>
<body>
  <div class="group-148">
    <div class="div">
      <div class="section-text">
        <div class="top">
          <div class="secondary-headline">도서 검색</div>
        </div>
        <div class="paragraph">
          목표로 설정할 도서를 검색합니다.
          <br />
          만약 결과가 없다면 도서 정보를 수동으로 입력할 수 있습니다.
        </div>
      </div>
      <div class="form-5-fields-checkbox-button">
        <div class="text-field">
          <div class="label-and-field">
            <div class="label">도서 명</div>
            <div class="field">
              <input type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>